
html, body {
    font-size: 12px;
    font-family: Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    background-image: url(../img/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 -70px;
}

.container {
    min-height: 100%;
    position: relative;
}

.panel-main {
    margin: 20px;
}

table tr td label {
    text-align: right;
}

table tr td {
    text-align: left;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 27px;
    font-size: 19.5px;
    line-height: 36px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}

#content {
    padding-bottom: 90px;
}

#footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 91px;
    text-align: center;
}

.form-actions .btn {
    margin-right: 10px;
}

.form-actions .alert {
    margin-top: 18px;
    margin-bottom: 0px;
}

.nav-list li.active i {
    background-image: url("../img/glyphicons-halflings-white.png");
}

[class^="icon-"], [class*=" icon-"] {
    margin-right: 6px !important;
}

.form-horizontal .controls label {
    padding-top: 5px;
    padding-left: 10px;
}

textarea {
    min-height: 176px;
}
