textarea.textarea {
    width: 80%;
}

.subject-item td.subject-state {
    text-align: center;
}

#subject-select-table {
    table-layout: fixed;
}

#subject-select-table td {
    word-wrap: break-word;
}

#my-subject .btn-toolbar {
    text-align: right;
}
